<form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="email" name="email" required email>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Invalid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
  
